{% extends "base.html.twig" %}

{% block head_title %}Arcadia-Gestion des animaux
{% endblock %}

{% block head_description %}Gestion des animaux
{% endblock %}

{% block stylesheet %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="{{base_url}}public/scss/main.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}


	{% if addResult is defined and addResult is not empty %}

		{# Page 'résultat' suite à une action créer, update ou delete terminée -------------------------------------#}

		{# résultat de l'action #}
			<p>
		{{addResult}}
		</p>
		<br>

		{# Liste des éléments liés pouvant empêcher la suppression #}
			{% if data is defined and data is not empty %}
				<h2>
			Liaisons relatives à l'élément à supprimer
			</h2>
				<h3>
			Peut empêcher la suppression :
			</h3>

				{% for tableName, items in data %}

				{# utilisé pour animaux ? #}
					{% if tableName == 'animaux' and tableName is not empty %}
						<ul>
							{% for animaux in items %}
								<li>
								Nom de l'animal:
							{{ animaux.nom_animal }}
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endfor %}

		{% endif %}
			<div class='m-1 '> <a class="btn btn-danger text-white ps-4 pe-4" href="{{ base_url }}{{ previousUrl }}">Retour</a>
		</div>
	{% elseif modifySection is defined and modifySection == true %}

		{# Page 'update' pour mettre le nouveau nom -----------------------------------------------------------------#}

		<div class='container-fluid d-flex flex-column text-center background__primary text-white mt-5 mb-5 pt-5 pb-5 justify-content-center'>
			<h1 class="">Bienvenue dans votre espace de gestion des Animaux</h1>
			<br>
			<h2>Modification
				{{ pageName }}
				:
			</h2>
		</div>

		<div class='container-fluid'>
			<div class='row justify-content-start'>
				<p>
					Ancien nom de l'animal:
					{{elements.valeur}}</p>
			</div>

			<div class='row justify-content-start'>
				<p>
					Ancienne race de l'animal:
					{{elements.nom_race}}</p>
			</div>

			<div class='row justify-content-start'>
				<p>
					Ancien habitat de l'animal:
					{{elements.nom_habitat}}</p>
			</div>

			<div class='row justify-content-start'>
				<p>
					Ancien état de l'animal:
					{{elements.etat}}</p>
			</div>


			<h3>photos de l'animal :</h3>


			{% if elements.images is defined %}
				{# Tableau des éléments #}
				<table>
					<thead>
						<tr>
							<th>Photos</th>
							<th>Supprimer</th>
						</tr>
					</thead>

					<tbody>
						{% for key, image in elements.images %}
							{% set imageIds = elements.id_image|split(',') %}
							{% set imageId = imageIds[key] %}
							<tr>
								<td>
									<img src="data:{{ image.type }};base64,{{ image.data }}" alt="Image" style="width: 75px; height: 75px;">
								</td>

								<td>
									<form method="post" action="{{base_url}}{{deleteUrlImg}}" enctype='multipart/form-data'>
										<input type="hidden" name="deleteElementId" value={{imageId}}>
										<input type="hidden" name="tok" value={{ token }}>
										<button class='btn btn-danger text-white m-2' type="submit">Supprimer</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table><br><br>
			{% else %}
				Aucune image disponible
				<br><br>

			{% endif %}
			<h3>Nouveau :</h3>
			<br>
			<form id='addelement' class='container-fluid' action="{{base_url}}{{updateUrl}}" method="post" enctype='multipart/form-data'>
				<input type="hidden" name="updateElementId" value="{{elements.id}}">

				<div class="form-group col-11 col-md-6 col-lg-5 col-xl-4 col-xxl-3 m-2">
					<label for="updatedName">Nom modifié :
					</label><br>
					<input class="form-control" type="text" name="updatedName" id="" placeholder="">
				</div>

				<div class="form-group col-11 col-md-6 col-lg-5 col-xl-4 col-xxl-3 m-2">
					<label for="addElementDesc">Etat de santé :
					</label>
					<br>
					<input class="form-control" type="text" name="addElementDesc" id="">
				</div>

				<div class="form-group col-11 col-md-6 col-lg-5 col-xl-4 col-xxl-3 m-2">
					<label for="addElementRace">Race :
					</label><br>
					<select class="form-control" name="addElementRace">
						<option value=""></option>
						{% for item in races %}
							<option value="{{ item.id }}">{{ item.valeur }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="form-group col-11 col-md-6 col-lg-5 col-xl-4 col-xxl-3 m-2">
					<label for="addElementHabitat">Habitat :
					</label><br>
					<select class="form-control" name="addElementHabitat">
						<option value=""></option>
						{% for item in habitat %}
							<option value="{{ item.id }}">{{ item.valeur }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="form-group col-11 col-md-6 col-lg-5 col-xl-4 col-xxl-3 m-2">
					<label for="addElementImg">Images supplémentaires jpg, jpeg, png et < 100Ko:
					</label>

					<input class="form-control" type="file" name="addElementImg[]" id="addElementImg" multiple></input><br>
			</div>

			<input type="hidden" name="tok" value={{ token }}>
			<button class="btn btn-primary col-11 col-md-6 col-lg-5 col-xl-4 col-xxl-3 m-2" type="submit">Soumettre</button>
		</form>

		<div class='m-1 '>
			<a class="btn btn-danger text-white ps-4 pe-4" href="{{ base_url }}{{ previousUrl }}">
				Retour
			</a>
		</div>
	</div>
{% else %}
	{# Page 'main' de la section avec CRUD ----------------------------------------------------------------------#}

	<div class='container-fluid d-flex flex-column text-center background__primary text-white mt-5 mb-5 pt-5 pb-5 justify-content-center'>
		<h1 class="">Bienvenue dans votre espace de gestion des Animaux</h1>
		<br>
		<h2 class="">Que voulez vous faire ?</h2>
	</div>

	<div class='container-fluid'>
		<div class='row justify-content-start'>
			<h2 class="col-12 m-2 mb-5">liste des
				{{pageName}}</h2>
		</div>

		{# Formulaire de recherche #}
		<form class='justify-content-center justify-content-md-start row mb-5 g-3' action="{{ base_url }}{{ previousUrl }}" method="get" enctype='multipart/form-data'>
			<div class=" col-12 col-md-3 col-xxl-2">
				<input class="form-control" type="text" name='search' placeholder='Recherche'>
			</div>
			<input type="hidden" name="tok" value={{ token }}>
			<button class=" btn btn-success col-11 col-md-3 col-xl-2 col-xxl-1 ms-2" type="submit">
				Recherche
			</button>
			<button class="btn btn-secondary col-11 col-md-3 col-xl-2 col-xxl-1 ms-2" onclick="location.href='{{ base_url }}{{ previousUrl }}'">
				Reset
			</button>

		</form>

		{% if elements == 'une erreur est survenue' %}
			<b>une erreur est survenue</b>
		{% else %}

			{# Tableau des éléments #}
			<div class="table-responsive">
				<table class="table table-sm table-bordered border-dark table-hover text-justify align-middle">
					<thead class='text-uppercase align-middle'>
						<tr>
							<th>Nom
								{{pageName}}</th>
							<th>Etat de santé</th>
							<th>Race</th>
							<th>Habitat</th>
							<th class="table-description-size">Photos</th>
							<th>Modifier</th>
							<th>Archiver</th>
						</tr>
					</thead>

					<tbody>
						{% for element in elements %}
							<tr>
								<td>{{ element.valeur|striptags|raw}}</td>
								<td>{{ element.etat|striptags|raw }}</td>
								<td>{{ element.nom_race|striptags|raw }}</td>
								<td>{{ element.nom_habitat|striptags|raw }}</td>
								<td>

									{% if element.images is defined %}
										<div style="margin-right: 10px; display: flex; gap: 10px;">
											{% for image in element.images %}
												<img src="data:{{ image.type }};base64,{{ image.data }}" alt="Image" style="width: 75px; height: 75px;">
											{% endfor %}
										</div>
									{% else %}
										Aucune image disponible
									{% endif %}

								</td>

								<td>
									<form method="get" action="{{base_url}}{{updateUrl}}" enctype='multipart/form-data'>
										<input type="hidden" name="UpdateElementId" value={{ element.id }}>
										<input type="hidden" name="tok" value={{ token }}>
										<button class='btn btn-primary m-2' type="submit">Modifier</button>
									</form>
								</td>

								<td>
									<form method="post" action="{{base_url}}{{deleteUrl}}" enctype='multipart/form-data'>
										<input type="hidden" name="deleteElementId" value={{ element.id }}>
										<input type="hidden" name="tok" value={{ token }}>
										<button class='btn btn-danger text-white m-2' type="submit">Archiver</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			{# Pagination #}
			<ul class="pagination">

				{% if activePage > 1 %}
					{# Si on est sur page 2 et + #}
					<li class="page-item">
						<a class="page-link" href="?page={{ activePage - 1 }}&search={{ search }}&tok={{ token }}">
							Page précédente
						</a>
					</li>
				{% endif %}
				{% for page in 1..pageMax %}
					{% if page == activePage %}
						<li class="page-item">
							<span class="current-page page-link">
								{{ page }}
							</span>
						</li>
					{% else %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page }}&search={{ search }}&tok={{ token }}">
								{{ page }}
							</a>
						</li>
					{% endif %}
				{% endfor %}
				{% if activePage < pageMax %}
					<li class="page-item">
						<a class="page-link" href="?page={{ activePage + 1 }}&search={{ search }}&tok={{ token }}">
							Page suivante
						</a>
					</li>
				{% endif %}
			</ul>

		{% endif %}

		<!-- Button trigger modal -->

		<button type="button" class="btn btn-primary ps-4 pe-4 m-1" data-bs-toggle="modal" data-bs-target="#addModal">
			Ajout
		</button>

		<!-- Modal -->
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addModalLabel">Ajout</h5>
						<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h2>
							Souhaitez vous faire un ajout :
							{{ pageName }}
							?
						</h2>
						<form id='addelement' action="{{base_url}}{{addUrl}}" method="post" enctype='multipart/form-data'>
							<label for="addElementName">Nom du nouvel animal :
							</label><br>
							<input type="text" required name="addElementName" id="" placeholder="Nom de l'animal">
							<br><br>

							<label for="addElementDesc">Etat de santé :
							</label>
							<br>
							<input type="text" required name="addElementDesc" id=""><br><br>

							<label for="addElementRace">Race :
							</label><br>
							<select name="addElementRace">
								{% for item in races %}
									<option value="{{ item.id }}">{{ item.valeur }}</option>
								{% endfor %}
							</select><br><br>

							<label for="addElementHabitat">Habitat :
							</label><br>
							<select name="addElementHabitat">
								{% for item in habitat %}
									<option value="{{ item.id }}">{{ item.valeur }}</option>
								{% endfor %}
							</select><br><br>

							<label for="addElementImg">Images du nouvel habitat jpg, jpeg, png et < 100Ko :
							</label>
							<br>
							<input type="file" name="addElementImg[]" id="addElementImg" multiple></input><br>
						<br>

						<input type="hidden" name="tok" value={{ token }}>
						<button class='btn btn-success ps-4 pe-4' type="submit">Soumettre</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	{# Retour vers page d'accueil admin #}
	<div class='m-1 '>
		<a class="btn text-white btn-danger ps-4 pe-4" href="{{ base_url }}admin">Retour</a>
	</div>
</div>{% endif %}<script src="{{base_url}}public/js/file.js"></script>{% endblock %}
